@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-variant: rgba(77,181,255,0.4);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.6);
  --color-green: rgb(39, 172, 39);
  --color-gray: rgb(119, 119, 119);

  --transition: all 400ms ease;
}

body{
  font-family: 'Poppins', sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width:600px) {
  .grid {
      grid-template-columns: 1fr;
  }
  .cartText{
    display: none;
  }
  .downArrow{
    display: none;
  }
}